%td {{name}}
%td {{phone}}
%td {{address}}
%td
  = link_to "edit", "#", :class=>"edit_company", :rel => '{{id}}'
  &nbsp;&nbsp;
  = link_to "remove", "#", :class => "destroy_company", :rel => '{{id}}'
