.page-header
  %h3
    Tasks List
    =link_to '+','#',:class=>"btn btn-primary", :id=>"add_new_task"
%table.table.table-condensed
  %thead
    %th{:style=>"width: 30px;"}
    %th
      Description
    %th
      Labor Cost
    %th
      Material Cost
    %th
      Unit Retail
    %th{:style=>"width: 60px;"}
    
  %tbody#tasks_body
  
