%td
  = link_to "#",:class=>"open-task-input" do
    %i.icon-folder-open
  = link_to "#",:class=>"close-task-input hide" do
    %i.icon-folder-close

%td.description
  {{description}}
%td.labor_cost
  $ {{labor_cost}}
%td.material_cost
  $ {{material_cost}}
%td.unit_retail
  $ {{unit_retail}}
