.row
  .span12
    .well
      .span2
        =link_to "Add Task","#",:class=>"btn btn-primary",:id=> "add_new_project_task",:style=>"margin-top: -5px;"
      .span3
        %span
          Total Cost: $
        %span.total_cost_of_project
          0
      .span3
        %span
          Total Profit: $
        %span.total_profit_of_project
          0
      .span3
        %span
          Total Margin: %
        %span.total_margin_of_project
          0
%hr
    
.row
  .span12
    %h4
      Project Tasks
    %table.table.table-condensed
      %thead
        %th
        %th
          Description
        %th
          Labor Cost
        %th
          Material Cost
        %th
          Unit Retail
        %th
          Profit
        %th
          Margin
        %th
          Period
        %th
          
      %tbody#costing_project_tasks_body

